In [2]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

     feature1  feature2
0  helloworld      1.23
1        cat0      2.34
2    year2022      3.45

In [4]:
# send pandas to cudf
# !pip3 install cudf
import cudf
df = cudf.from_pandas(df)

ModuleNotFoundError: No module named 'cudf'

In [5]:
# now execute in GPU
df.head()

     feature1  feature2
0  helloworld      1.23
1        cat0      2.34
2    year2022      3.45