pandas.DataFrame.sort_values<br>
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

Extracting date from a string in Python<br>
https://stackoverflow.com/questions/3276180/extracting-date-from-a-string-in-python

How To Apply a Function To Columns in Pandas<br>
https://towardsdatascience.com/apply-function-to-columns-in-pandas-60b01c41c485

What is the Python equivalent for a case/switch statement? [duplicate]<br>
https://stackoverflow.com/questions/11479816/what-is-the-python-equivalent-for-a-case-switch-statement

strftime cheatsheet.<br>
datetime.strftimew(date string, format of date string)<br>
https://strftime.org/

Regex cheatsheet<br>
https://www.dataquest.io/blog/regex-cheatsheet/

How do I test for exceptions in if-statements in python?<br>
https://stackoverflow.com/questions/14516873/how-do-i-test-for-exceptions-in-if-statements-in-python

Python Find All Occurrences in String<br>
https://www.delftstack.com/howto/python/python-find-all-occurrences-in-string/

How To Access An Element In Pandas<br>
https://www.activestate.com/resources/quick-reads/how-to-access-an-element-in-pandas/

How To Use Break, Continue, and Pass Statements when Working with Loops in Python 3<br>
https://www.digitalocean.com/community/tutorials/how-to-use-break-continue-and-pass-statements-when-working-with-loops-in-python-3

groups() method returns a tuple containing all the subgroups of the match, therefore, it can return any number of groups that are in a pattern. When there is no group in the pattern it returns None, the default value.<br>
Unlike groups(), the group() method returns the entire match.<br>
https://www.codespeedy.com/groups-method-in-regular-expression-in-python/

In [47]:
# libraries, libraries!

import pandas as pd
import numpy as np
from datetime import datetime
import re

In [8]:
# create folder paths

structures = r'\\pre-cpt-fs\Profile-Documents$\PProfile Operations\Legal\Legal and Compliance Framework\Hilton\W\structures.xlsx'

In [9]:
# function that searches instrument description text for issuer

# import issuer regex formats
issrgx = pd.read_excel(structures, sheet_name = 'issuers')

def issuer(txt):
    for i in range(len(issrgx)):
        for pattern in issrgx['regex']:
            if re.search(pattern, txt.upper()): 
                return issrgx.loc[issrgx['regex'] == pattern].iat[0,2] # note 'break' below the first 'for'   
        break
        
txt = 'The quick brown fox jumps over Standard Bank the lazy dog'
print(issuer(txt))

Standard Bank of South Africa Ltd

In [ ]:
# function that searches for settlement account

# import issuer regex formats
issrgx = pd.read_excel(structures, sheet_name = 'issuers')

def issuer(txt):
    for i in range(len(issrgx)):
        for pattern in issrgx['regex']:
            if re.search(pattern, txt.upper()): 
                return issrgx.loc[issrgx['regex'] == pattern].iat[0,2] # note 'break' below the first 'for'   
        break

In [5]:
# test for the for loops
txt = "Landbank Step-Up Quarter 010722 13.067% (20220701)"

In [37]:
# function that searches instrument ID text for issuer

# import issuer regex formats
issrgx = pd.read_excel(structures, sheet_name = 'issuers')

def issuer_id(txt):
    for i in range(len(issrgx)):
        for pattern in issrgx['id']:
            if len(pattern) == 0:
                print('Empty cell')
            else:
                #if re.search(pattern, txt.upper()): 
                return issrgx.loc[issrgx['id'] == pattern].iat[0,2] # note 'break' below the first 'for'   
        break
        
txt = 'NTC235'
print(issuer_id(txt))

Republic of South Africa

In [49]:
# test the issuer() FOR loop
txt = 'The quick brown fox jumped over the lazy dog'

for i in range(len(issrgx)):
    for pattern in issrgx['id']:
        if pattern.isnan:
            print("Empty cell")

AttributeError: 'str' object has no attribute 'isnan'

In [1]:
# import the regex formats for dates
# Regex to match month name followed by year: https://stackoverflow.com/questions/2655476/regex-to-match-month-name-followed-by-year
# function to extract date from string

# import the regex date formats
dfrgx = pd.read_excel(structures, sheet_name = 'dates')

# define the date extractor function
def datex(txt):
    try:
        for pattern in dfrgx['date_regex']:
            if re.search(pattern, txt.title()):
                break
        return datetime.strptime(re.search(pattern, txt.title()).group(),dfrgx.loc[dfrgx['date_regex'] == pattern].iat[0,1]).strftime("%d%b%Y")

    # manage exceptions:
    except ValueError as ve:
        print(f'ValueError {ve}')
    except TypeError as te:
        print(f'TypeError {te}')
    except AttributeError as ae:
        print(f'AttributeError {ae}')
        
#test the datex function
txt = "BNP Paribas Personal Finance SA Ltd FRN BPPF31 Jb3+95 17-Aug-13"
datex(txt)

NameError: name 'pd' is not defined

In [227]:
df

,Class,Description (2661 securities),Primary Asset ID,CCY,Issuer Code,Issuer Name on Reg 28 Certificate,Market Cap (Rbn) (0 val errors,DI900 / BBG:Sector,Ticker,Commodity,Eq Listed,Foreign,Gov / PFMA,SA Bank,Fund,Issuer Code (Formula),Issuer Code (Fixed),Date
0,EQ,Absa,ABG,ZAR,ABG,Absa Bank Ltd,155.714845,5,ABG SJ,NaN,NaN,NaN,NaN,s,NaN,ABG,NaN,NaT
1,EQ,African Bank,AXL,ZAR,AXL,African Bank Ltd,NaN,5,AXL SJ,NaN,NaN,NaN,NaN,s,NaN,AXL,NaN,NaT
2,EQ,NaN,3888 HK,CNY,3888 HK,Bank of China Ltd,79.850957,5,3888 HK,NaN,NaN,x,NaN,NaN,NaN,3888 HK,NaN,NaT
3,EQ,NaN,CPI,ZAR,CPI,Capitec Bank Ltd,260.533049,5,CPI SJ,NaN,NaN,NaN,NaN,s,NaN,CPI,NaN,NaT
4,EQ,NaN,C US,USD,C US,Citibank N.A.,2116.845832,5,C US,NaN,NaN,x,NaN,NaN,NaN,C US,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2656,FI,B58DV13,SEML LN,USD,SEML LN,iShares J.P.Morgan EM Local Govt Bond UCITS ETF,84.204479,NaN,SEML LN,NaN,NaN,x,NaN,NaN,f,SEML LN,NaN,NaT
2657,EQ,NaN,TRU,ZAR,TRU,Truworths International Ltd,23.007890,NaN,TRU SJ,NaN,NaN,NaN,NaN,NaN,NaN,TRU,NaN,NaT
2658,FI,US Treasury,US,USD,US,US Treasury,NaN,NaN,NaN,NaN,NaN,x,g,NaN,NaN,US,NaN,NaT
2659,EQ,Harcourt,HRC,ZAR,HRC,Harcourt Street 1 (RF) Ltd,NaN,NaN,HRC SJ,NaN,u,NaN,NaN,NaN,NaN,HRC,NaN,NaT
2660,EQ,NaN,601360 CH,USD,601360 CH,360 Security Technology Inc,191.155543,NaN,601360 CH,NaN,NaN,NaN,NaN,NaN,NaN,601360 CH,NaN,NaT

In [7]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!