### Pandas Tricks — Pass Multiple Columns To Lambda
https://codeforests.medium.com/ppicpandas-tricks-pass-multiple-columns-to-lambda-e0c16312fb50

In [2]:
import pandas as pd
df = pd.DataFrame({ "Order#" : ["1", "2", "3", "4"], "Weight" : [5.0, 2.1, 8.1, 7.5], "Package Size" : [80, 45, 110, 90], "Delivery Mode": ["Same Day", "Next Day", "Express", "Next Day"]})
df

  Order#  Weight  Package Size Delivery Mode
0      1     5.0            80      Same Day
1      2     2.1            45      Next Day
2      3     8.1           110       Express
3      4     7.5            90      Next Day

Let’s also implement a calculate_rate function where we need to pass in the weight, package size, and delivery mode in order to calculate the delivery charges:

In [4]:
def calculate_rate(weight, package_size, delivery_mode): 
#set the charges as $20 since we do not have the complete rate card 
    charges = 20 
    if weight <=1 and package_size <60: 
        if delivery_mode == "Express": 
            charges = 13 
        elif delivery_mode == "Next Day": 
            charges = 8
        else: 
            charges = 10 
    elif weight <=5 and package_size <80: 
        if delivery_mode == "Express": 
            charges = 15 
        elif delivery_mode == "Next Day": 
            charges = 9 
        else: 
            charges = 11 
    elif weight <=8 and package_size <100: 
        if delivery_mode == "Express": 
            charges = 17 
        elif delivery_mode == "Next Day": 
            charges = 11 
        else: 
            charges = 13
    
    return charges

#### Pass multiple columns to lambda
Here comes to the most important part. You probably already know data frame has the apply function where you can apply the lambda function to the selected dataframe. We will also use the apply function, and we have a few ways to pass the columns to our calculate_rate function.

#### Option 1
We can select the columns that involved in our calculation as a subset of the original data frame, and use the apply function to it.

And in the apply function, we have the parameter axis=1 to indicate that the x in the lambda represents a row, so we can unpack the x with *x and pass it to calculate_rate function.

In [8]:
df["Delivery Charges"] = df[["Weight", "Package Size", "Delivery Mode"]].apply(lambda x : calculate_rate(*x), axis=1)

If we check the df again in Jupyter Notebook, you should see the new column “Delivery Charges” with the figures calculated based on the logic we defined in calculate_rate function.

In [9]:
df

  Order#  Weight  Package Size Delivery Mode  Delivery Charges
0      1     5.0            80      Same Day                13
1      2     2.1            45      Next Day                 9
2      3     8.1           110       Express                20
3      4     7.5            90      Next Day                11

#### Option 2
If you do not want to get a subset of the data frame and then apply the lambda, you can also directly use the apply function to the original data frame. In this case, you will need to select the columns before passing to the calculate_rate function. Same as above, we will need to specify the axis=1 to indicate it’s applying to each row.

In [10]:
df["Delivery Charges"] = df.apply(lambda x : calculate_rate(x["Weight"], x["Package Size"], x["Delivery Mode"]), axis=1)

This will produce the same result as option 1. And you can also use format like x.Weight instead of x[“Weight”] when passing in the parameter.

In [11]:
df

  Order#  Weight  Package Size Delivery Mode  Delivery Charges
0      1     5.0            80      Same Day                13
1      2     2.1            45      Next Day                 9
2      3     8.1           110       Express                20
3      4     7.5            90      Next Day                11

#### Conclusion
The two options we discussed to pass multiple columns to lambda are basically the same, and it’s either applying to the subset or the original data frame. I have not yet tested with a large set of data, so there might be some differences in terms of the performance, you may need to take a note if you are dealing with a lot of data.