### SQLite Backend for Beginners - Create Quick Databases with Python and SQL
https://www.youtube.com/watch?v=Ohj-CqALrwk

In [3]:
import sqlite3

In [4]:
# create an empty database with SQLIte3
connection = sqlite3.connect("gta.db")

# to use SWL commands we need a cursor object
cursor = connection.cursor()

# the container within which to pass SQL commands is "cursor.execute()"
# create a tbale called "gta" with the headings "release_year", "release_name", and "city"
cursor.execute("create table gta (release_year integer, release_name text, city text)")

In [5]:
# create the data for the database
release_list = [
    (1997, "Grand Theft Auto", "state of New Guernsey"),
    (1999, "Grand Theft Auto 2", "Anywhere, USA"),
    (2001, "Grand Theft Auto III", "Liberty City"),
    (2002, "Grand Theft Auto: Vice City", "Vice City"),
    (2004, "Grand Theft Auto: San Andreas", "state of San Andreas"),
    (2008, "Grand Theft Auto IV", "Liberty City"),
    (2013, "Grand Theft Auto V", "Los Santos")
]
release_list

[(1997, 'Grand Theft Auto', 'state of New Guernsey'),
 (1999, 'Grand Theft Auto 2', 'Anywhere, USA'),
 (2001, 'Grand Theft Auto III', 'Liberty City'),
 (2002, 'Grand Theft Auto: Vice City', 'Vice City'),
 (2004, 'Grand Theft Auto: San Andreas', 'state of San Andreas'),
 (2008, 'Grand Theft Auto IV', 'Liberty City'),
 (2013, 'Grand Theft Auto V', 'Los Santos')]

In [6]:
cursor.executemany("insert into gta values (?,?,?)", release_list)

In [8]:
# check the contents of the database by printing the database rows
for row in cursor.execute("select * from gta"):
    print(row)

(1997, 'Grand Theft Auto', 'state of New Guernsey')
(1999, 'Grand Theft Auto 2', 'Anywhere, USA')
(2001, 'Grand Theft Auto III', 'Liberty City')
(2002, 'Grand Theft Auto: Vice City', 'Vice City')
(2004, 'Grand Theft Auto: San Andreas', 'state of San Andreas')
(2008, 'Grand Theft Auto IV', 'Liberty City')
(2013, 'Grand Theft Auto V', 'Los Santos')

In [9]:
# print specific rows from the database
cursor.execute("select * from gta where city=:c", {"c": "Liberty City"})
gta_search = cursor.fetchall()
print(gta_search)

[(2001, 'Grand Theft Auto III', 'Liberty City'), (2008, 'Grand Theft Auto IV', 'Liberty City')]

In [18]:
#create a new table 
cursor.execute("create table city (gta_city text, real_city text)")
cursor.executemany("insert into city values (?,?)", [("Liberty City", "New York City"), ("Vice City", "Miami"), ("Los Santos","Los Angeles"), ("state of New Guernsey","New Jersey"),("Anywhere, USA","Cleveland")])

In [19]:
# check the contents of the database by printing the database rows
for row in cursor.execute("select * from city"):
    print(row)

('Liberty City', 'New York City')
('Vice City', 'Miami')
('Los Santos', 'Los Angeles')
('state of New Guernsey', 'New Jersey')
('Anywhere, USA', 'Cleveland')

In [22]:
# print specific rows from the "city" database
cursor.execute("select * from city where gta_city=:c", {"c": "Liberty City"})
city_search = cursor.fetchall()
print(city_search)

[('Liberty City', 'New York City')]

In [24]:
for i in gta_search:
    adjusted = [city_search[0][1] if value == city_search[0][0] else value for value in i]
    print(adjusted)

[2001, 'Grand Theft Auto III', 'New York City']
[2008, 'Grand Theft Auto IV', 'New York City']

In [27]:
connection.close()