In [1]:
x=5

In [2]:
x

5

In [3]:
print(x)

5

In [4]:
y=8

In [5]:
Y=8

In [6]:
X

NameError: name 'X' is not defined

In [7]:
print x

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(x)? (<ipython-input-7-0b640320f694>, line 1)

In [8]:
print (x)

5

In [9]:
x,y=1,2

In [10]:
x,y

(1, 2)

In [11]:
x1=5

In [12]:
type(x)

int

In [13]:
type(-6.0)

float

In [14]:
x2=4.75

In [15]:
type(x2)

float

In [16]:
int(x2)

4

In [17]:
type(int(x2))

int

In [18]:
x3=True

In [19]:
type(x3)

bool

In [20]:
type(x3)

bool

In [21]:
x4='George'

In [22]:
print(x4)

George

In [23]:
y=10

In [24]:
print(str(y)+str(x4))

10George

In [25]:
print(str(y)+' '+str(x4))

10 George

In [26]:
x5="It's okay"

In [27]:
print(x5)

It's okay

In [28]:
16/3

5.333333333333333

In [29]:
16 mod 3

SyntaxError: invalid syntax (<ipython-input-29-df409e2e989c>, line 1)

In [30]:
mod(16,3)

NameError: name 'mod' is not defined

In [31]:
16 % 3

1

In [32]:
5**3

125

In [33]:
5^3

6

In [34]:
y=5**3

In [35]:
y

125

In [36]:
y==125

True

In [37]:
z=1

In [38]:
z

1

In [39]:
z=3

In [41]:
z

3

In [45]:
# Comment
print(7,.3)

7 0.3

In [48]:
2*1.5+\
5

8.0

In [49]:
"Friday"

'Friday'

In [50]:
print('Friday')

Friday

In [51]:
print("Friday")

Friday

In [55]:
"Friday"[2]

'i'

In [56]:
print('Holidays'[6])

y

In [57]:
def func(x):
    x=7
    print(x)

In [58]:
func(7)

7

In [59]:
func(9)

7

In [60]:
10 !=10

False

In [61]:
15>= 10,9,17

(True, 9, 17)

In [63]:
True and False

False

In [64]:
True or False

True

In [65]:
True xor False

SyntaxError: invalid syntax (<ipython-input-65-ac24d1f80630>, line 1)

In [66]:
not False

True

In [67]:
3 >5

False

In [68]:
3 > 5 and 10<=20

False

In [69]:
3>5 is False

False

In [70]:
if 5==15/3:
    print("Yay")

Yay

In [71]:
if 5!=3*6:
    print("okay")

okay

In [72]:
x=1

if x>3:
    print("case 1")
if x<=3:
    print("Case 2")

Case 2

In [73]:
if x > 3:
    print("Case 1")
else:
    print("Case 2")

Case 2

In [81]:
def cf5(y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [82]:
cf5(7)

'Greater'

In [80]:
print(cf5(7))

Greater

In [83]:
def basic():
    print("My first function")

In [84]:
basic()

My first function

In [85]:
basic

In [87]:
def plus_ten(a):
    return a + 10

In [88]:
plus_ten(15)

25

In [99]:
def plus_ten(a):
    result=a+10
    # providing two outputs from a function
    print("Output")
    return result

In [100]:
plus_ten(17)

Output

27

In [105]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [106]:
wage(3),with_bonus(3)

(75, 125)

In [107]:
2**10

1024

In [108]:
2**20

1048576

In [109]:
2**11

2048

In [111]:
list_1 = ['Leila','John','Gregory','Kate']

In [112]:
print(list_1[1])

John

In [118]:
print(list_1[-1])

Kate

In [119]:
print(list_1[-2])

Gregory

In [120]:
print(list_1[-3])

John

In [122]:
print(list_1[-4])

Leila

In [124]:
list_1[2] = "Olga"
print(list_1)

['Leila', 'John', 'Olga', 'Kate']

In [125]:
del list_1[0]

In [126]:
list_1

['John', 'Olga', 'Kate']

In [127]:
list_1.append("Dane")

In [128]:
list_1

['John', 'Olga', 'Kate', 'Dane']

In [131]:
list_1.extend(['Catherine','George'])

In [132]:
list_1

['John', 'Olga', 'Kate', 'Dane', 'Catherine', 'George']

In [136]:
print('The first participant is ' + list_1[0] + ', okay?')

The first participant is John, okay?

In [137]:
len('Dolphin')

7

In [138]:
len(list_1)

6

In [142]:
list_1[1:3]

['Olga', 'Kate']

In [148]:
list_1[1:6]

['Olga', 'Kate', 'Dane', 'Catherine', 'George']

In [149]:
list_1[:4]

['John', 'Olga', 'Kate', 'Dane']

In [152]:
list_1[2:]

['Kate', 'Dane', 'Catherine', 'George']

In [153]:
list_1[-3]

'Dane'

In [154]:
list_1[-3:]

['Dane', 'Catherine', 'George']

In [155]:
list_1.index("Catherine")

4

In [156]:
newcomers=['Joshua','Brittany']

In [157]:
new_list_1=[list_1,newcomers]

In [158]:
new_list_1

[['John', 'Olga', 'Kate', 'Dane', 'Catherine', 'George'],
 ['Joshua', 'Brittany']]

In [159]:
new_list_2 = list_1 + newcomers
new_list_2

['John', 'Olga', 'Kate', 'Dane', 'Catherine', 'George', 'Joshua', 'Brittany']

In [160]:
len(new_list_1)

2

In [161]:
len(new_list_2)

8

In [163]:
new_list_2.sort()
new_list_2

['Brittany', 'Catherine', 'Dane', 'George', 'John', 'Joshua', 'Kate', 'Olga']

In [164]:
x=(40,41,42)

In [165]:
x

(40, 41, 42)

In [166]:
y=50,51,52

In [167]:
y

(50, 51, 52)

In [168]:
a,b,c = 3,4,5

In [169]:
b

4

In [172]:
(age, years_of_school) = "30,17".split(',')
age

'30'

In [173]:
print(age)
print(years_of_school)

30
17

In [193]:
def square_info(x):
    print("Area and Perimeter: ") + print(x ** 2) + print(", ") + print(4 * x)

In [194]:
square_info(3)

Area and Perimeter:
9

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [195]:
def sq(x):
    A = x ** 2
    P = 4 * x
    print("Area and perimter: ")
    return A, P

In [197]:
sq(3)

Area and perimter:

(9, 12)